{% extends 'infos/main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block links %}
<a class="nav-link" href="/">Strona główna</a>
<a class="nav-link active" href="/me">O mnie</a>
<a class="nav-link" href="/contact">Kontakt</a>
{% endblock %}

{% block h1 %}{{ h1 }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/535263_10207791447536596_7341348603523124082_n.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=TNG2P_1nO44AX8mLI_t&_nc_ht=scontent-waw1-1.xx&oh=64acd4e22bbae16113220ad494cf394c&oe=5F7EE6E2"
             style="float: left; margin: 15px; height: 150px; width: 150px">
        <p>
            {{ text }}
        </p>
    </div>
</div>
{% endblock %}