{% extends 'infos/main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block links %}
<a class="nav-link" href="/">Strona główna</a>
<a class="nav-link active" href="/me">O mnie</a>
<a class="nav-link" href="/contact">Kontakt</a>
{% endblock %}

{% block h1 %}{{ h1 }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/535263_10207791447536596_7341348603523124082_n.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=TNG2P_1nO44AX8mLI_t&_nc_ht=scontent-waw1-1.xx&oh=64acd4e22bbae16113220ad494cf394c&oe=5F7EE6E2"
             style="float: left; margin: 15px; height: 150px; width: 150px">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias, aliquid autem blanditiis ex ipsum
            magnam magni molestias nisi nulla, porro sed tempora vero. A aliquid asperiores dicta dignissimos dolor ea
            earum
            enim eveniet explicabo in iure iusto magnam maiores necessitatibus optio perspiciatis, quaerat quam
            quibusdam
            sapiente sit temporibus ullam voluptas voluptatibus. Ab cupiditate, debitis eius expedita illum ipsum
            laboriosam
            maxime omnis praesentium quae repudiandae tempora, totam! Accusamus at blanditiis commodi consequatur
            deleniti,
            deserunt esse explicabo inventore iusto minus nemo nostrum quibusdam quo recusandae voluptatem. Ab alias
            facere
            incidunt ipsam laboriosam quo voluptas. Aspernatur commodi debitis earum expedita, harum hic incidunt
            laudantium, nesciunt optio quae, quam quibusdam saepe voluptates? Ab aliquid architecto beatae debitis dicta
            eius, eum ex facilis inventore laudantium minus molestiae officia porro qui similique temporibus, tenetur ut
            veritatis! A accusantium beatae debitis labore nisi omnis quasi sapiente! Blanditiis ducimus id ratione sint
            ut.
            Animi aperiam autem dolorum enim, eos est et harum id libero molestiae optio provident qui quod, repudiandae
            tempora. Consequuntur debitis ex laborum magni molestias officia perferendis ratione repudiandae sapiente
            soluta? A ab, ad alias aliquam commodi consequuntur distinctio dolore dolores, dolorum ex excepturi facere
            id
            ipsa ipsum iure laboriosam neque nisi odit optio perspiciatis quia quisquam reprehenderit sunt velit
            voluptatibus. Ab amet animi blanditiis culpa debitis, delectus dolore, dolorem, exercitationem explicabo hic
            illo iste modi nam nisi nostrum quibusdam quo ratione reiciendis rem voluptatem. Dolorem, impedit quo. Ad
            commodi, distinctio eos magni quae repellendus suscipit totam unde vel voluptate. Commodi consequatur
            distinctio
            dolorum, est excepturi laborum maxime nulla voluptatibus. Atque, enim fugit incidunt magnam minima nulla
            numquam
            qui quod recusandae? Consequuntur dolorem harum inventore quibusdam ratione sequi tempore, unde? Ab adipisci
            architecto asperiores aut debitis dicta ducimus eius id ipsa magni, provident quo ratione repellat
            repellendus
            sed. Accusamus amet architecto autem consequuntur cum cumque cupiditate ea eaque earum eius eligendi error
            esse
            eveniet, fuga hic id iusto laboriosam maiores neque numquam odio omnis perspiciatis praesentium provident
            quam,
            quas qui quibusdam quidem rem saepe, tempora tempore ut voluptatibus. Accusantium animi aperiam corporis
            cumque,
            deserunt dolor doloremque earum enim impedit laboriosam modi nobis perferendis perspiciatis sunt temporibus
            totam voluptatibus? Cum, quos, sapiente! Amet cumque delectus eius error iste libero sapiente similique
            tenetur.
            Assumenda atque commodi dolore explicabo impedit ipsa natus vitae. Explicabo iusto laudantium minima minus
            possimus recusandae repudiandae veritatis! Adipisci cum dolor eos tempore vero? Ex illo natus nostrum
            provident
            quos? Deleniti ducimus facilis, ipsam itaque magnam odio praesentium tempora. Dolores molestiae neque nihil
            officia quaerat ut, voluptates. Aut consectetur delectus dolorum ducimus ea enim, est impedit in magni natus
            necessitatibus nemo nostrum odio, placeat provident qui quidem quis quisquam sapiente similique suscipit
            totam
            voluptates! Ad aliquid aspernatur assumenda doloremque eligendi enim illo iure laudantium minima, nam nemo
            numquam quae quibusdam quidem rem sequi sit ullam vel? At blanditiis ducimus in laudantium, odit placeat
            possimus quaerat quia suscipit vel. Consectetur illo perspiciatis quae velit voluptate. Autem consectetur
            corporis doloremque dolores facilis illo ipsam laboriosam maiores maxime molestiae natus pariatur
            praesentium,
            quae similique suscipit velit voluptatum.
        </p>
    </div>
</div>
{% endblock %}