{% extends 'infos/main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block links %}
<a class="nav-link active" href="/">Strona główna</a>
<a class="nav-link" href="/me">O mnie</a>
<a class="nav-link" href="/contact">Kontakt</a>
{% endblock %}

{% block h1 %}{{ h1 }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aspernatur atque aut
            deserunt, dolorem enim eos et ex facere, fuga fugiat id ipsam laboriosam libero maxime molestias mollitia,
            nemo nesciunt nihil nisi numquam placeat praesentium provident quas quo repudiandae rerum tempore tenetur
            vero! Molestias quaerat quas soluta veniam voluptate?
        </p>
    </div>
</div>
{% endblock %}
